.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 20px;
}

.skills{
    width: 100%;
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    justify-content: space-between;
}

.skills span{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #212529;
}

.skills svg{
    width: 30px;
    height: 30px;
}