.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 20px;
}

.aboutme {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    margin-top: 100px;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile div {
    width: 280px;
    height: 330px;
    border: 2px solid rgba(26, 26, 26, 0.9);
    transition: transform 0.5s ease;
    transform: rotate(0deg);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* For Safari */
}

.profile div:first-child {
    position: relative;
}

.profile div:last-child {
    position: absolute;
}

.profile div.firstDiv {
    transform: rotate(10deg);
}

.profile div.secondDiv {
    transform: rotate(-5deg);
}

.profile img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    padding: 25px;
    padding-bottom: 0;
}

.profile p {
    text-align: end;
    font-size: 40px;
    margin: 0;
    padding: 10px 30px;
    font-family: "Lovers Quarrel", cursive;
}

.aboutme svg {
    width: 15px;
    height: 15px;
}

.details {
    padding: 0 20px;
    box-sizing: border-box;
}

.details h2 {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}

.details p {
    margin: 0 0 20px 0;
    color: #adb5bd;
    font-size: 16px;
}

.details p a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.details p img {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
}

@media (max-width: 768px) {
    .aboutme {
        flex-direction: column;
    }

    .profile {
        margin-bottom: 50px;
    }
}